.text-gray{
    color: gray;
}

.fit-content{
    width: fit-content;
}

.lead-card{
    background-color: rgba(233, 236, 239, 1);
}

.nameAndLocation i{
    color: gray;
}

.requesTitle{
    background-color: rgba(220,251,230,255);
}

.employee{
    background-color: rgba(218,233,254,255);
    color: rgba(129,144,202,255);
}


.assign i{
    font-size: 2rem;
}

.assignToDropdown{
    height: 30px;
}

.assignToButton{
    position: relative;
    top: 1.5px;
    padding-left: 3px;
}

.lead-card:hover , .lead-card:active{
    cursor: pointer;
    background-color: #d6eaf8;
}

.data-section-content{
    margin-top: 70px;
    min-height: 500px;
}

.backToCardsSection-btn{
    color: black;
}

.backToCardsSection-btn:hover{
    color: red;
    cursor: pointer;
}


/*------------------------ Media Query ------------------------ */

@media screen and ( 768px < width < 992px) {
    .employeeDiv {
        justify-content: space-between !important;
    }
    .employee{
        position: relative;
        left: 10px;
    }
    .assignToDropdown , .assignToButton{
        position: relative;
        left: 25px;
    }
}
@media screen and ( 992px < width < 1999px) {
    .employeeDiv {
        justify-content: start !important;
        margin-left: 10px;
    }
}

@media screen and ( 1200px < width < 1400px) {
    .employeeDiv {
        justify-content: start !important;
        margin-left: 38px;
    }
}

@media screen and ( 1400px < width) {
    .employeeDiv {
        justify-content: start !important;
        margin-left: 50px;
    }

}


